Assets/Script/Lib/* linguist-vendored
Assets/Script/Title/* linguist-vendored
Escape Now!_Data/* linguist-documentation
Escape Now!_develop_Data/* linguist-documentation
Library/* linguist-documentation
ProjectSettings/* linguist-documentation